doctype
html
	head
		title flats
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src='js/code.js')
			
			
	body
	
		select
			option.green Зелений масив
			option.yellow Жовтий масив
		.filter
			input#r1(type="radio" class="room_1" name="room")
			label(for="r1") 1 room
			input#r2(type="radio" class="room_2" name="room")
			label(for="r2") 2 room
			input#r3(type="radio" class="room_3" name="room")
			label(for="r3") 3 room
			input#r4(type="radio" class="room_4" name="room")
			label(for="r4") 4 room
			input#r5(type="radio" class="room_5" name="room")
			label(for="r5") 5 room
			input#balcon(type="checkbox" name="balcon" )
			label(for="balcon") is balcon
		.flats
		
	
	


